.formContainer {
    margin: 5% 10% 0 10%;
}

.inputContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

input {
    height: 30px;
}

#display-image{
    width: 400px;
    height: 225px;
    border: 1px solid black;
    background-position: center;
    background-size: cover;
}


.album-wrap {
    margin: 0 auto;
}