/*.FlexWrap {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*    flex-wrap: wrap;*/
/*}*/

/*.FlexWrap img {*/
/*    height: 300px;*/
/*    max-width: 20vw;*/
/*    object-fit: cover;*/
/*    object-position: 50% 50%;*/
/*    cursor: pointer;*/
/*    position: relative;*/
/*    transition: .5s ease-in-out;*/
/*}*/

/*.FlexItem {*/
/*    display: flex;*/
/*    box-align: center;*/
/*    align-items: center;*/
/*    box-pack: center;*/
/*    flex-wrap: wrap;*/
/*    padding: 4px;*/
/*    justify-content: center;*/
/*    overflow: hidden;*/

/*}*/


.albumContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
}

.albumItem img {
    min-height: 50vh;
    max-width: 20vw;
    padding: 4px;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    position: relative;
    transition: .5s ease-in-out;
    z-index: 1;
}


