#cameraicon {
    padding-bottom: 20px;
}

#subtitle {
    font-size: 20px;
}

h1 {
    font-size: 70px;
}
#container1{
    padding-top: 20px;
}

.jumbotron{
    color: #2c3e50;
}
#navbarmainpage{
    background: #2c3e50;
}

#navbarmainpage{
    color: white;
}

.galleryDropdown li a {
    color: white;
}


