* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

html {
    height: 100%;
}

body {
    height: 100%;
}

.header {
    width: 100%;
    font-weight: bold;
    height: 64px;
}

.logo img {
    justify-content: start;
}

.container {
    display: flex;
    justify-content: start;
    align-content: start;
}

.container ul {
    list-style: none;
}

.container .links:first-child {
    justify-content: start;
}

.container ul li img {
    max-width: 25%;
    padding: 0;
}

.links {
    text-decoration: none;
    display: flex;
    list-style: none;
}

.links li:hover {
    background-color: #be6060;
    cursor: pointer;
    color: white;
}


.container .links li a {
    text-decoration: none;
    color: #444040;
    margin: 20px;
    display: block;
    font-family: "Arial";
    text-transform: uppercase;
}

.toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
}

.container .toggle-button .bar {
    height: 3px;
    width: 100%;
    /*background-color: #444040;*/
    background-color: red;
    border-radius: 10px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.active {
    display: flex;
}

/*DROPDOWN MENU*/

.dropdown {
    position: relative;
}

#dropdown-menu ul {
    padding: 0;
}

#dropdown-menu {
    position: absolute;
    left: 0;
    color: #444040;
    width: 200%;
    background-color: #be6060;
    top: calc(100% + 1.25rem);
    padding: 5px;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0,.2);
    opacity: 0;
    text-transform: uppercase;
}

#dropdown-menu a:hover{
    color: white;
}

@media screen and (max-width: 880px) {

    #dropdown-menu {
        text-align: center;
        justify-content: center;
        width: 100%;
    }


    .header {
        height: auto;
    }

    .container ul li img {
        max-width: 20%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        flex-direction: column;
        display: none;

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
    }

    .navbar-links li {
        text-align: center;
    }

    .container {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links.active {
        display: flex;
    }

    .toggle-button.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-button.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-button.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }

}

@media screen and (max-width: 680px) {

    #dropdown-menu {
        text-align: center;
        justify-content: center;
        width: 100%;
    }

    .header {
        height: auto;
    }

    .container ul li img {
        max-width: 20%;
    }

    .toggle-button {
        display: flex;
    }

    .navbar-links {
        width: 100%;
        flex-direction: column;
        display: none;

    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        padding-left: 0px;
    }

    .navbar-links li {
        text-align: center;
    }

    .container {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links.active {
        display: flex;
    }

    .toggle-button.active .bar:nth-child(2) {
        opacity: 0;
    }

    .toggle-button.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .toggle-button.active .bar:nth-child(3) {
        transform: translateY(-10px) rotate(-45deg);
    }
}