.textDiv {
  text-align: start;
  margin-top: 5%;

}

.textDiv h3 {
  font-family: "Aboreto";
  font-size: 30px;
}

.textDiv p {
  font-family: "Aboreto";
}



.textDiv h3 {
  font-family: "Aboreto", sans-serif;
  font-size: 30px;
}

.textDiv p {
  font-family: "Aboreto", sans-serif;
}

.switchBtn div{
  display: flex;
  letter-spacing: 2px;
  justify-content: space-evenly;
  width: 20%;
  background-color: black;
}

.switchBtn div a{
  text-decoration: none;
  color: white;

}

.switchBtn div a:last-child{
  margin-left: 5%;
}


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
  font-family: Arial, Helvetica, sans-serif;


}

.checkcontainer{
  display: flex;
  flex-wrap: wrap;
  max-width: 90%;
  width: 800px;
  margin: 0 auto;

}

.cards {
  position: relative;
  height: 300px;
  width: 240px;
  margin: 10px;
}

.cards:active {
  transform: scale(0.96);

}

.cards input {
  position: absolute;
  visibility: hidden;
  opacity: 0;

}

.cards input:checked~.card-content {

  border-color: #4580E5;

}

.cards .card-content {
  position: relative;
  cursor: pointer;
  overflow: hidden;
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
  border: 3px solid #ffff;
  box-shadow: 0 4px 4px rgba(0, 0, 0.02);

}

.cards img {

  position: relative;
  height: 100%;
  width: 300px;
  left: 50%;
  transform: translate(-50%, 0);
  transition: all ease 0.3s;
}

.cards:hover img {
  width: 100%;
  height: 240px;
}

.cards input:checked~.card-content img {

  filter: grayscale(0.4);
}

.content .imgTitle {
  margin: 0 0 8px 0;
}

.content .imgComment {
  margin: 0;
  line-height: 1;



}

.content {
  position: absolute;
  bottom: -320px;
  width: 100%;
  padding: 120x;
  background-color: #ffff;
  transition: all ease 0.3s;


}

.cards:hover .content {
  bottom: 0;
}

.cards input:checked~.card-content:before,
.cards input:checked~.card-content:after {
  content: '';
  position: absolute;
  z-index: 1;
}

.card-content:before {
  height: 20px;
  width: 20px;
  top: 10px;
  right: 10px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  background-color: #4580E5;
}

.card-content:after {
  height: 4px;
  width: 8px;
  top: 16px;
  right: 16px;
  border: 1px solid #FFFFFF;

  border-width: 0 0 2px 2px;
  transform: rotate(-45deg);

}