.textDiv {
    text-align: start;
    margin-top: 5%;
}

.textDiv h3 {
    font-family: "Aboreto", sans-serif;
    font-size: 30px;
}

.textDiv p {
    font-family: "Aboreto", sans-serif;
}


.image-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
}

.image-item:hover {
    background-color: black;
    transition: .3s;
}

.image-wrap {
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.buttonDiv {
    display: inline-flex;
    flex-direction: row;
}


.image-item {
    display: grid;
    /*box-align: center;*/
    align-items: center;
    /*box-pack: center;*/
    max-width: 20vw;
    justify-content: center;
    overflow: hidden;
}

.image-item img {
    min-height: 60vh;
    max-width: 20vw;
    padding: 4px;
    object-fit: cover;
    object-position: 50% 50%;
    cursor: pointer;
    position: relative;
    transition: .5s ease-in-out;
    z-index: 1;
}

.image-item img:hover {
    transform: scale(1.5);
    background-color: black;
    transition: .5s ease-in-out;
    opacity: 0.6;
}

.imgTitle {
    color: white;
    font-size: 12px;
    cursor: pointer;
    text-align: center;
    position: absolute;
    width: 20%;
    transition: .5s ease-in-out;
}

/*.imgComment {*/
/*    color: black;*/
/*    font-size: 20px;*/
/*    grid-row: 2;*/
/*    justify-content: center;*/
/*    align-items: center;*/
/*    transition: .5s ease-in-out;*/
/*}*/


#lightbox {
    position: fixed;
    z-index: 1000;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .8);
    display: none;
}

#lightbox.active {
    display: flex;
    justify-content: center;
    align-items: center;
}

#lightbox img {
    max-width: 90%;
    max-height: 80%;
    padding: 4px;
    background-color: black;
    border: 2px solid white;
}

#next {
    position: absolute;
    background-color: white;
    top: 50%;
    right: 50%;
    width: 10%;
    height: 20%;
    z-index: 5;
}



#prev{position: absolute;
    background-color: white;
    top: 25%;
    left: 25%;
    width: 5%;
    height: 20%;
    z-index: 5;
}
/*#prev:hover{*/
/*    opacity: 0.2;*/
/*}*/

/*BUTTON*/