body{
    /*background-image: radial-gradient(rgba(255, 0, 0, 0.203), rgba(69, 69, 97, 0.296), black);*/
}

.textDiv {
    text-align: start;
    margin-top: 5%;

  }
  
  .textDiv h3 {
    font-family: "Aboreto";
    font-size: 30px;
  }
  
  .textDiv p {
    font-family: "Aboreto";
  }
  
  
 /* .image-container {

}

.textDiv h3 {
    font-family: "Aboreto", sans-serif;
    font-size: 30px;
}

.textDiv p {
    font-family: "Aboreto", sans-serif;
}


.image-container {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 80vw;
    margin: 0 auto;
  }
  
  .image-item:hover {
    background-color: black;
    transition: .3s;
<<<<<<< HEAD
  }
  
  .image-wrap {
    display:flex;
    flex-direction:row;
    overflow: visible;
  }
  
 /* @media (max-width :600px){
    .image-wrap{
      display:block;
      
      
     
    }
  }*/
  
  
  
  /*.buttonDiv {
}

.image-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}

.buttonDiv {

    display: inline-flex;
    flex-direction: row;
  }
  
  
  .image-item {


    display:grid;
    box-align: center;

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
/* body {
  background-color: #eef5ff;
}*/
.image-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90vw;
  margin: 0 auto;
}
.image-wrap {
 
 flex-direction: rows;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 60%;
  left: 50%;
  display: flex;
  place-items: center;
  gap: 10px;
  /*display:flex;
  flex-direction:row;
  overflow: visible;*/

}

.buttonDiv {
  display: inline-flex;
  flex-direction: row;
}

.button {
  display: inline-flex;
  flex-direction: row;
}



.Check-buttons{

color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;

}
.image-item {
 
  /*height: 50px;
  width: 50px;*/
  /*max-width: 60vh;
  /*background-color: #ffffff;*/
  /*box-shadow: 0 0 25px rgba(17, 1, 68, 0.08);*/
  /*border-radius: 20px;*/
  /*position: relative;
  cursor: pointer;*/
  
  min-height: 60vh;
  max-width: 20vw;
  padding: 4px;
  object-fit: cover;
  object-position: 50% 50%;
  cursor: pointer;
  position: relative;
  transition: .5s ease-in-out;
  z-index: 1;
 
  

}
input[type="checkbox"] {
  -webkit-appearance: none;
  position: relative;
  width: 100%;
  cursor: pointer;
}
input[type="checkbox"]:after {
  position: absolute;
  font-family: "Font Awesome 5 Free";
  font-weight: 400;
  content: "\f111";
  font-size: 18px;
 color: #478bfb;

  right: 10px;
  top: -5px;
}
input[type="checkbox"]:checked:after {
  font-weight: 900;
  content: "\f058";
  color: #478bfb;
  
}
.image-item img {
 /* width: 70%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  cursor: pointer;*/
min-height: 60vh;
  max-width: 20vw;
  padding: 4px;
  object-fit:cover;
  object-position: 50% 50%;
  cursor: pointer;
  position:fixed;
  transition: .5s ease-in-out;
  z-index: -2;
}


.image-item img:hover {
  

  /*transform:scale(1.5);*/
  background-color: black;
  transition: .5s ease-in-out;
  opacity: 0.6;
}

.imgTitle {
  
  color: white;
  font-size: 12px;
  cursor: pointer;
  text-align: center;
  position: absolute;
  width: 100%;
  top: 50%;
  transition: .5s ease-in-out;


  
  
}
.imgComment {
  display : -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  color: black;
  font-size: 11px;
  
  /*text-align: center;
  position:absolute;
  width: 100%;*/
 
  cursor: pointer;

  overflow: hidden;

  
  
}





@media screen and (min-width: 950px) {
  .image-wrapper {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .image-item {
    height: 300px;
    width: 300px;
  }
  input[type="checkbox"]:after {
    font-size: 22px;
  }
}