.rating {
    width: 200px;
    font-size: 2rem;
    overflow: hidden;
    list-style: none;
    display: flex;
}

.rating li {
    color: #aaa;
    text-decoration: none;
    align-items: start;
    -webkit-transition: color .4s;
    -moz-transition: color .4s;
    -o-transition: color .4s;
    transition: color .4s;
}
/*:target {*/
/*    color: orange;*/

/*}*/
/*li.focus:focus{*/
/*    color: orange;*/
/*}*/

/*.active:active{*/
/*    color: orange;*/

/*}*/

.rating .rating-item:hover,
.rating .rating-item:hover ~ li,
.rating .rating-item:focus,
.rating .rating-item:focus ~ li,
.rating .rating-item:active,
.rating .rating-item:active ~ li
{
    color: orange;
    cursor: pointer;
}
.rating .rating-item:after {
    /*content: "★";*/
}


.rating2 {
    direction: rtl;
}

.rating2 li {
    float: left
}

@media screen and (max-width: 1200px) {
    .rating {
        width: 100px;
        font-size: 1.5rem;
        overflow: hidden;
        list-style: none;
        display: flex;
    }
}